<h1>This is a list of products on your order guide</h1>

<ul>
  <% @products.each do |p| %>
    <li><b><%= p.name %> </li>
    <% end %>
</ul>

<h2><%= link_to 'Add a Product to the Orderboard',   new_suborder_product_path(@suborder.id) %></h2>

         