.title, .tagline{
	text-align: center;
}
/*.title {
	margin-top: 16%;
	width: 20%;
}*/
.tagline {
	margin: 0%;
	float: center;
}
.body_wrapper {
	background: rgba(21,181,139,0.9);
	background-size: cover;	
	color: white;

}
.buttonControl {
	margin-top: 3%;
	margin-bottom: 20%;
}
.usernameBar {
	margin-top: 25%;
}
.password {
	height: 200px;
}
.heading {
	/*color: white;*/
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 72px;
	margin-top: 14%;
	width: 20%;
}