/* my font = font-family: 'Lato', sans-serif;*/
.body_wrapper {
	background: rgba(100,10,40,0.85);
	background-size: cover;
	height: 690px;
	width: 100%;
	
}
.input {
	margin-top: 2%;
	margin-bottom: 1%;
}

.heading {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 72px;
	color: white;
	height: 100%;
	text-align: center;
	margin-top: 18%;
}


