.footer_button {
	width: 100%;
	margin: 1px;
color: red;
}

.header_button {
	width:25%;
	margin-top: 4%;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.sub_header {
	border: solid;
	border-width: 1px;
}
.sub_header_wrapper {
	margin: 3px;
}
.title_logo {
	font-size: 60px;
	text-align: center;
}
.sub_item {
	text-align: center;
}