.navbar-default {
	background-color: #ee623b;
	border-color: #e0462c;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #e0462c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #e0462c;
}
.navbar-default .navbar-toggle {
	border-color: #e0462c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e0462c;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #e0462c;
	}
}
.footer_button {
	width: 100%;
	margin: 1px;
color: red;
}

.header_button {
	width:25%;
	margin-top: 4%;
}

body { padding-bottom: 70px; }

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.sub_header {
	border: solid;
	border-width: 1px;
	background: white;
	opacity: 0.85;
	border-radius: 5px;
}
.sub_header_wrapper {
	margin: 1% 0 0 0;
}
.title_logo {
	font-size: 60px;
	text-align: center;
}
.sub_item {
	text-align: center;
	background: white;
	border-width: 1px;

}
.sub_product {
	background: white;
	margin: 0.5% 0px 0px 3px;
}
.background {
	background: rgba(21,181,139,0.70);
	color: black;
}

