.body_wrapper {
	background: rgba(21,181,139,0.70);
	height: 680px;
}

.button {
	width: 100%;
	text-align: center;
	margin: 1%;

}
.signupheader {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 3%;
	font-size: 6em;
}