<h1>Welcome to your orderboard account</h1>

<h2><%= link_to 'Create a new orderboard', new_login_mainorderboard_path(@login.id) %></h2>

<h2><%= link_to 'Work on a existing orderboard', login_mainorderboards_path(@login.id) %></h2>