
        	
        	<ul>
        	<% @mainorderboard.each do |l| %>
          
          <li><b><%= l.name %></b></li>
        
          <% end %>
        </ul>
          <h2><%= link_to 'Add New Vendor', mainorderboards_path(@login_id) %></h2>
          <h2><%= link_to 'Delete Vendor', mainorderboards_destroy_path %></h2>
