<h1>Suborder.vendorname</h1>

<%= form_for @suborders do |l| %>
	Vendor Name: <%= l.text_field :vendorname %>
  
	Email: <%= l.text_field :email %>
	Create a new Vendor: <%= l.submit "Add" %>
	<% end %>
