<h1>This is where you will add a vendor</h1>

<%= form_for [@mainorderboard, @suborder] do |l| %>
	Vendor Name: <%= l.text_field :vendorname %>
  
	
	Create a new Vendor: <%= l.submit "Add" %>
	<% end %>
